Conditional Statements 

    - if 
    - else
    - elif

 enter the number5

In [10]:
num= int(input(' enter the number'))
if num%2==0:
    print('number is even')
else:
    print(' number is odd')

 enter the number25
 number is odd

Comparison operators

    - == equal to
    - < less than
    - > greater than

In [11]:
lang = 'python'
if lang == 'python':
    print('the language is Python')
else:
    print('the language is not python')

the language is Python

In [13]:
lang= input('Enter programming language: ')

if lang == 'Python':
    print('the language is python')
elif lang =='Java':
    print('language is Java')
elif lang =='React':
    print('language is React')
else:
    print("No match")

Enter programming language: Java
language is Java

In [22]:
age= int(input('Age of the Dog'))

print()

if age<0:
    print('this cannnot be true')
elif age==0:
    print('corresponding to zero human years')
elif age==1:
    print('corresponding to 14 human years')
else:
    human = 22+(age-2)*5
    print('The age of human is ',human)

Age of the Dog10

The age of human is  62

Enter the number1250
Enter the number21555
Enter the number3999
The bigger num is num3 999.0

loops
 - for loop
 - while loop

In [30]:
# Store the monthly expenses in a list and
#  find out the total expenses for all month

expenses= [4400, 2600, 450, 3900, 6980]
sum(expenses)

18330

In [32]:
a=0
for i in expenses:
    a= a+i
print(a)

18330

In [33]:
total=0
for i in range(len(expenses)):
    print('Month',(i+1), 'Expenses :',expenses[i])
    total=total+expenses[i]
print("total expenese ",total)

Month 1 Expenses : 4400
Month 2 Expenses : 2600
Month 3 Expenses : 450
Month 4 Expenses : 3900
Month 5 Expenses : 6980
total expenese  18330

For loop and continue statement:

In [36]:
for i in range(1,11):
    if i%2==0:
#         print(i)
        continue
    print(i)

1
3
5
7
9

In [42]:
for i in range(10,500):
    if i<=30:
        continue
    print(i,end=',')

31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,

While loop

In [43]:
i=5

while i>=1:
    print(i)
    i=i-1

5
4
3
2
1

Functions

In [48]:
num = (int(input("Enter the Number ")))
if num%2==0:
    print('Number is even',(num))
else:
    print('Number is odd',(num))

Enter the Number 14
Number is even 14

In [49]:
def even_or_odd(num):
    if num%2==0:
        print("Number {} is even".format(num))
    else:
        print("Number {} is odd".format(num))

In [50]:
even_or_odd(15)

Number 15 is odd