Functions

Introduction to functions

A Function is a group of set of statements together to run the the statement more than onces. it allow us to specify parametre that can serve as input to the function

Functions allow us to recuse the code instead of writing the code again and again. if you recall string and lists, remember that len() function is use to fins the length of a string .Since checking the length of a sequnce is a common task, you would want to write a function that can do this repeatedly at command.

function is one of the most basic levels of reusing code in python , and it will also us to start thinking of program design.

In [1]:
def say_hello(name):
    print('hello',name)
    print('how do you do?')

In [2]:
say_hello('Aarthi')

hello Aarthi
how do you do?

In [3]:
def sum(x,y,z):
    total =x+y+z
    return total

In [4]:
sum(51,52,86)

189

In [5]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [6]:
marks1 =  [68,78,98,59,34]
marks2 =  [77,67,57,88,76]

total = 0

for i in marks1:
    total =total+i
print('Total marks of 1st student ',total)

total=0
for i in marks2:
    total=total+i
print('Total marks of 1st student ',total)

Total marks of 1st student  337
Total marks of 1st student  365

In [7]:
def calcuate_total(marks):
    total=0
    for i in marks:
        total=total+i
    return total

In [8]:
sum_of_marks1 = calcuate_total(marks1)

In [9]:
sum_of_marks1

337

In [10]:
sum_of_marks2 = calcuate_total(marks2)
sum_of_marks2

365

In [11]:
def abso_value(num):
    if num>=0:
        return num
    else:
        return -num

In [12]:
print(abso_value(-25))

25

In [13]:
def hello(name, age=21):
    print('My name is {} and my age is {}'.format(name,age))

In [14]:
hello('parth',25)

My name is parth and my age is 25

In [15]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [16]:
hello('meesho','Flipkart',age=99,dob=1909)

('meesho', 'Flipkart')
{'age': 99, 'dob': 1909}

In [17]:
names=['parth','flipkart']
dict_arg={'age':23,'dob':1977}

In [18]:
hello(*names,**dict_arg)

('parth', 'flipkart')
{'age': 23, 'dob': 1977}

In [19]:
list1= [12,44,56,33,56,8,58,57,57]

def even_odd_sum(list):
    even_sum= 0
    odd_sum=0
    
    for i in list1:
        if i%2==.0:
            even_sum =even_sum+i
        else:
            odd_sum =odd_sum+i
    return even_sum,odd_sum
even_odd_sum(list1)

(234, 147)

Map function

In [20]:
def even_odd(num):
    if num%2==0:
        return 'even'
    else:
        return 'odd'

In [21]:
even_odd(84)

'even'

In [22]:
list1

[12, 44, 56, 33, 56, 8, 58, 57, 57]

In [23]:
list(map(even_odd, list1))

['even', 'even', 'even', 'odd', 'even', 'even', 'even', 'odd', 'odd']

Lambda function-anoymous function

In [24]:
def add(a,b):
    sum= a+b
    return sum
add(9,1)

10

In [25]:
sum= lambda a,b:a+b

In [26]:
sum(17,80)

97

In [27]:
even =lambda n:n%2 ==0

In [28]:
even(25)

False

In [29]:
l1 = [1,2,3]
l2 = [7,8,9]

list(map(lambda x,y:x+y,l1,l2))

[8, 10, 12]

In [30]:
lst1 = []
def lst_sq(lst):
    for i in lst:
        lst1.append(i*i)
        
    return lst1

In [31]:
lst_sq([2,3,4])

[4, 9, 16]

In [32]:
print('helo')

helo

In [33]:
lst = [2,3,4]
lst1 = [i*4 for i in lst]
print(lst1)

[8, 12, 16]

In [34]:
lst2 =[i*i for i in lst if i%2!=0]
print(lst2)

[9]

In [35]:
lst=[41,85,96,47,32,6,58,61]

def even_odd_sum(lst):
    even_sum = 0
    odd_sum = 0
    
    for i in lst:
        if i%2==0:
            even_sum = even_sum+i
        else:
            odd_sum = odd_sum+i
    return even_sum, odd_sum

even_odd_sum(lst)

(192, 234)